In [5]:
import pandas as pd
import plotly.express as px

from gtfparse import read_gtf

from datapaths import *

pd.set_option('display.max_rows', 4)
pd.set_option('display.max_columns', None)

In [6]:
flipon_to_data = pd.read_table(F_FLIPON_TO_DATA)
flipon_to_data

,Flipon,Coordinates,Strand,Gene Feature,Gene Name,Gene Strand,Gene Type,Gene ID,Transcript ID,c. M miR (+),c. M miR (-),c. MJ miR (+),c. MJ miR (-),c. J miR (+),c. J miR (-),M miR (+),M miR (-),MJ miR (+),MJ miR (-),J miR (+),J miR (-),cCRE (+-200bp),LINE/LTR (+-200bp),Feature Group
0,g4,chr1:3014794-3014871,-,Distal Intergenic,4933401J01Rik,+,TEC,ENSMUSG00000102693.1,ENSMUST00000193812.1,miR-328 (1),NaN,miR-486 (1),NaN,NaN,NaN,"miR-6994 (1), miR-129b (1)","miR-92a-2 (1), miR-698/miR-7078 (1), miR-3572 ...",miR-486a/miR-486b (1),"miR-3076 (1), miR-6418 (1), miR-6987 (1)",NaN,miR-7649 (1),NaN,"LINE@L1Md_F2(-), LINE@L1VL1(+)",LINE/LTR
1,g4,chr1:3099888-3099963,+,Promoter (2-3kb),Gm26206,+,snRNA,ENSMUSG00000064842.1,ENSMUST00000082908.1,NaN,miR-328 (1),NaN,NaN,NaN,NaN,"miR-365-1/miR-365-2 (1), miR-698/miR-7078 (1),...","miR-221 (1), miR-129b (1)","miR-6418 (1), miR-7067 (1)",NaN,NaN,NaN,NaN,"LINE@L1Md_F2(+), LTR@MTC(+)",LINE/LTR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77706,z-dna,chrY:4203100-4203146,.,Distal Intergenic,Gm28191,+,unprocessed_pseudogene,ENSMUSG00000100300.1,ENSMUST00000189112.1,NaN,NaN,miR-493 (1),NaN,NaN,NaN,"miR-466d/miR-466i (4), miR-466l (5)",NaN,miR-493 (1),NaN,NaN,NaN,NaN,LINE@L1_Mur1(-),LINE/LTR
77707,z-dna,chrY:4207093-4207113,.,Distal Intergenic,Gm28191,+,unprocessed_pseudogene,ENSMUSG00000100300.1,ENSMUST00000189112.1,NaN,NaN,NaN,NaN,NaN,NaN,"miR-466a/miR-466e/miR-466p (1), miR-466d/miR-4...",NaN,NaN,NaN,NaN,NaN,NaN,"LINE@L1_Mus3(+), LINE@L1Md_A(+), LTR@ORR1B1(+)",LINE/LTR

In [7]:
gtf = read_gtf(F_GENCODE)
gtf

/home/fpavlov/miniconda3/envs/mirna/lib/python3.11/site-packages/gtfparse/read_gtf.py:82: FutureWarning: The error_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  chunk_iterator = pd.read_csv(
/home/fpavlov/miniconda3/envs/mirna/lib/python3.11/site-packages/gtfparse/read_gtf.py:82: FutureWarning: The warn_bad_lines argument has been deprecated and will be removed in a future version. Use on_bad_lines in the future.


  chunk_iterator = pd.read_csv(
INFO:root:Extracted GTF attributes: ['gene_id', 'gene_type', 'gene_name', 'level', 'mgi_id', 'havana_gene', 'transcript_id', 'transcript_type', 'transcript_name', 'transcript_support_level', 'tag', 'havana_transcript', 'exon_number', 'exon_id', 'protein_id', 'ccdsid', 'ont']

,seqname,source,feature,start,end,score,strand,frame,gene_id,gene_type,gene_name,level,mgi_id,havana_gene,transcript_id,transcript_type,transcript_name,transcript_support_level,tag,havana_transcript,exon_number,exon_id,protein_id,ccdsid,ont
0,chr1,HAVANA,gene,3073253,3074322,NaN,+,0,ENSMUSG00000102693.1,TEC,4933401J01Rik,2,MGI:1918292,OTTMUSG00000049935.1,,,,,,,,,,,
1,chr1,HAVANA,transcript,3073253,3074322,NaN,+,0,ENSMUSG00000102693.1,TEC,4933401J01Rik,2,MGI:1918292,OTTMUSG00000049935.1,ENSMUST00000193812.1,TEC,4933401J01Rik-201,NA,basic,OTTMUST00000127109.1,,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1302161,chrM,ENSEMBL,transcript,15356,15422,NaN,-,0,ENSMUSG00000064372.1,Mt_tRNA,mt-Tp,3,MGI:102478,,ENSMUST00000082423.1,Mt_tRNA,mt-Tp-201,NA,basic,,,,,,
1302162,chrM,ENSEMBL,exon,15356,15422,NaN,-,0,ENSMUSG00000064372.1,Mt_tRNA,mt-Tp,3,MGI:102478,,ENSMUST00000082423.1,Mt_tRNA,mt-Tp-201,NA,basic,,1,ENSMUSE00000521550.1,,,

In [17]:
c_mir_list = ['c. M miR (+)', 'c. M miR (-)', 'c. MJ miR (+)', 'c. MJ miR (-)', 'c. J miR (+)', 'c. J miR (-)']
c_mir_list

['c. M miR (+)',
 'c. M miR (-)',
 'c. MJ miR (+)',
 'c. MJ miR (-)',
 'c. J miR (+)',
 'c. J miR (-)']

In [22]:
# All
with pd.option_context("display.max_rows", None):
    display(
        flipon_to_data[flipon_to_data["Gene Feature"] == "Promoter (<=1kb)"]
        .groupby("Gene ID")["Flipon"]
        .value_counts()
        .rename("Concurrent")
        .reset_index()[["Flipon", "Concurrent"]]
        .value_counts()
        .rename("Total")
        .reset_index()
        .pivot_table(values='Total', index='Flipon', columns='Concurrent').fillna('')
        .rename_axis(None, axis=0).rename_axis(None,axis=1)
    )

,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,23
g4,1881.0,855.0,413.0,184.0,77.0,38.0,28.0,13.0,7.0,1.0,,,1.0,,,
h-dna,1003.0,200.0,60.0,18.0,8.0,4.0,1.0,2.0,,,1.0,,,1.0,,
sidd,796.0,29.0,2.0,,,,,,,,,,,,,
z-dna,1641.0,863.0,549.0,350.0,206.0,120.0,71.0,25.0,17.0,6.0,8.0,6.0,5.0,2.0,1.0,1.0

In [25]:
# c. miRNA

with pd.option_context("display.max_rows", None):
    display(
        flipon_to_data[(flipon_to_data["Gene Feature"] == "Promoter (<=1kb)") & (flipon_to_data[c_mir_list].notna().sum(axis=1)>0)]
        .groupby("Gene ID")["Flipon"]
        .value_counts()
        .rename("Concurrent")
        .reset_index()[["Flipon", "Concurrent"]]
        .value_counts()
        .rename("Total")
        .reset_index()
        .pivot_table(values='Total', index='Flipon', columns='Concurrent').fillna('')
        .rename_axis(None, axis=1)
    )

            1      2      3     4     5     6    7    8    9    12   22
Flipon
g4      1722.0  553.0  195.0  61.0  29.0  14.0  2.0  1.0
h-dna    485.0   59.0   12.0   1.0
sidd     756.0   24.0    2.0
z-dna   1570.0  515.0  191.0  70.0  25.0   5.0  4.0  1.0  1.0  1.0  1.0

In [27]:
with pd.option_context('display.max_rows', 20):
    display(
        flipon_to_data[(flipon_to_data["Gene Feature"] == "Promoter (<=1kb)")]
        .groupby("Gene ID")[['Gene Name', 'Gene Type', "Flipon"]]
        .value_counts().rename('Conc').to_frame().sort_values('Conc', ascending=False).head(20)
    )

                                                             Conc
Gene ID               Gene Name Gene Type            Flipon
ENSMUSG00000105054.1  Gm43664   processed_pseudogene z-dna     23
ENSMUSG00000014592.21 Camta1    protein_coding       z-dna     15
ENSMUSG00000049556.5  Lingo1    protein_coding       z-dna     14
ENSMUSG00000057897.14 Camk2b    protein_coding       z-dna     14
ENSMUSG00000108904.1  Gm45147   processed_pseudogene h-dna     14
ENSMUSG00000055013.16 Agap1     protein_coding       z-dna     13
ENSMUSG00000061411.12 Nol4l     protein_coding       z-dna     13
ENSMUSG00000031511.16 Arhgef7   protein_coding       z-dna     13
ENSMUSG00000061411.12 Nol4l     protein_coding       g4        13
ENSMUSG00000010476.14 Ebf3      protein_coding       z-dna     13
ENSMUSG00000022382.15 Wnt7b     protein_coding       z-dna     13
ENSMUSG00000058317.12 Ube2e2    protein_coding       z-dna     12
ENSMUSG00000063632.6  Sox11     protein_coding       z-dna     12
ENSMUSG00000042589.18 Cux2      protein_coding       z-dna     12
ENSMUSG00000033581.17 Igf2bp2   protein_coding       z-dna     12
ENSMUSG00000002799.6  Jag2      protein_coding       z-dna     12
ENSMUSG00000054036.6  Olfr279   protein_coding       z-dna     12
ENSMUSG00000001911.16 Nfix      protein_coding       z-dna     11
ENSMUSG00000043456.17 Zfp536    protein_coding       z-dna     11
ENSMUSG00000008575.17 Nfib      protein_coding       z-dna     11

In [38]:
table = (
    flipon_to_data[
        (flipon_to_data["Gene Feature"] == "Promoter (<=1kb)")
        & (flipon_to_data[c_mir_list].notna().sum(axis=1)>0)
    ]
    .groupby(["Gene ID", 'Transcript ID'])[["Gene Name", "Gene Type", "Flipon"]]
    .value_counts()
    .rename("Flipons per promoter")
    .to_frame()
    .sort_values("Flipons per promoter", ascending=False).reset_index()
)

table.to_csv(D_TABLES / "flipons_per_promoter_mir.tsv", sep='\t', index=False)

table

,Gene ID,Transcript ID,Gene Name,Gene Type,Flipon,Flipons per promoter
0,ENSMUSG00000105054.1,ENSMUST00000196038.1,Gm43664,processed_pseudogene,z-dna,22
1,ENSMUSG00000054036.6,ENSMUST00000050451.5,Olfr279,protein_coding,z-dna,12
...,...,...,...,...,...,...
6849,ENSMUSG00000034037.14,ENSMUST00000089334.8,Fgd5,protein_coding,z-dna,1
6850,ENSMUSG00000041488.16,ENSMUST00000211047.1,Stx3,protein_coding,g4,1